<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto text-center pt-4 pb-5">
            <h1><img alt="404" src="/images/404.png" class="img-fluid"></h1>
            <h1>Trang này không có sẵn. Mong bạn thông cảm.</h1>
            <p class="land">Trang bạn tìm kiếm đã được dời đi hoạc bị xóa.</p>
            <div class="mt-5">
            <a class="btn btn-outline-primary" href="/"><i class="mdi mdi-home"></i>Quay lại trang chủ</a>
            </div>
        </div>
    </div>
</div>