<div class="sidebar">
    <ul class="navbar-nav">
        <li id="home" class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
            </a>
        </li>

        <li id="history" class="nav-item">
            <a class="nav-link" href="/account/history">
                <i class="fa-solid fa-clock-rotate-left"></i>
                <span>Lịch sử</span>
            </a>
        </li>

        <li id="subscriptions" class="nav-item">
            <a class="nav-link" href="/account/subscriptions">
                <i class="fa-solid fa-video"></i>
                <span>Kênh đã đăng ký</span>
            </a>
        </li>

        <li id="liked" class="nav-item">
            <a class="nav-link" href="/account/liked">
                <i class="fa-solid fa-thumbs-up"></i>
                <span>Videos đã thích</span>
            </a>
        </li>

        <li class="nav-item"></li>
    </ul>
</div>